<style>
    body {
        background-color: red;
    }
</style>

@{
    ViewBag.Title = "Página não encontrada";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<h2>Página não encontrada</h2>

